
<div class="registration-form m-2 p-3 m-t">
  <form class="frame"  dir="rtl"  [formGroup]="billForm" (ngSubmit)="onSubmit()" >

    <div  mat-dialog-title>
      <div id="grad1" class="card-heading">
        <h2 class="title">  سند قبض   
        </h2>
        </div> 
     
    </div>
    <div class="row">

      <div class="col-md-6">
        <mat-form-field appearance="outline" dir="rtl">
          <mat-label>رقم طلب الصيانة</mat-label>
          <input readonly="true" formControlName="intro_id"  required [disabled]="true" matInput placeholder=" ادخل رقم طلب الصيانة"  [value]="bill.intro_id" pattern="[0-9]*">
          <mat-icon matSuffix>line_weight</mat-icon>
        </mat-form-field>
        <div *ngIf="billForm.get('intro_id').hasError('pattern') && billForm.get('intro_id').touched" style="color: red;padding-bottom: 11px;">**يرجى إدخال أرقام فقط</div>

      </div>
      
      <div class="col-md-6">
        <mat-form-field appearance="outline" dir="rtl">
          <mat-label>رقم سند القبض</mat-label>
          <input formControlName="idBill" matInput required placeholder="رقم القبض" pattern="[0-9]*">
          <mat-icon matSuffix>receipt</mat-icon>
        </mat-form-field>
        <div *ngIf="billForm.get('idBill').hasError('pattern') && billForm.get('idBill').touched" style="color: red;padding-bottom: 11px;">**يرجى إدخال أرقام فقط</div>

      </div>
      <div class="col-md-6" hidden>

      <input hidden formControlName="dateBill" readonly="true"   matInput  [matDatepicker]="picker"  [value]="currentDate" placeholder="تاريخ اليوم">
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" dir="rtl">
          <mat-label>تاريخ اليوم</mat-label>
          <input  readonly="true"   matInput  [matDatepicker]="picker"  [value]="currentDate" placeholder="تاريخ اليوم">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-icon class="matt" matSuffix>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          </mat-icon>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" dir="rtl">
          <mat-label>اسم العمبل</mat-label>
          <input readonly="true"  formControlName="customers_FName1" required matInput placeholder="اسم العميل" [value]="bill.customers_FName1">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>



      <div class="col-md-12">
        <mat-form-field appearance="outline" dir="rtl">
          <mat-label>اسم الفني </mat-label>
          <input  formControlName="userNmAr" matInput placeholder=" اسم الفني" required [value]="bill.userNmAr">
          <mat-icon matSuffix>engineering</mat-icon>
        </mat-form-field>
      </div>
  

      <table  *ngIf="warehouses && warehouses.length > 0" class="table table-bordered">
          <thead>
              <tr>
                  <th>اسم المستودع</th>
                  <th>اسم القطعة</th>
                  <th>وصف القطعة</th>
                  <th> المبلغ</th>
                  <th> ملاحظة</th>
                  <th> المجموع</th>
                  <th>عدد القطع </th>

                 
              </tr>
          </thead>
          <tbody>
                             
                <tr  *ngFor="let warehouse of warehouses " >
                  <td >{{warehouse.warehouseNameArabic}}</td>
                  <td >{{warehouse.itemName}}</td>
                  <td >{{warehouse.desc_Piece}}</td>
                  <td >{{warehouse.price}}</td>
                  <td >{{warehouse.disc}}</td>
                  <td >{{(warehouse.count_pieces)*(warehouse.price)}}</td>
                  <td >{{warehouse.count_pieces}}</td>
                  
            
                </tr>



        </tbody>
      </table>
        
       




      




      <div class="row">
        <!-- Discount -->
        <div class="col-md-4">
          <mat-form-field appearance="outline" dir="rtl">
            <mat-label>الخصم</mat-label>
            <input formControlName="dis" matInput required placeholder="الخصم" pattern="[0-9]+(\.[0-9]+)?">
            <mat-icon matSuffix>local_offer</mat-icon>
          </mat-form-field>
          <div *ngIf="billForm.get('dis').hasError('pattern') && billForm.get('dis').touched" style="color: red;padding-bottom: 11px;">**يرجى إدخال أرقام فقط</div>

        </div>
      
        <!-- Total -->
        <div class="col-md-4">
          <mat-form-field appearance="outline" dir="rtl">
            <mat-label>المجموع</mat-label>
            <input readonly="true" formControlName="tott"  required matInput placeholder="المجموع" pattern="[0-9]+(\.[0-9]+)?">
            <mat-icon matSuffix>functions</mat-icon>
          </mat-form-field>
          <div *ngIf="billForm.get('tott').hasError('pattern') && billForm.get('tott').touched" style="color: red;padding-bottom: 11px;">**يرجى إدخال أرقام فقط</div>

        </div>
      
        <!-- Empty column -->
        <div class="col-md-4"></div>
      
        <!-- Workers' Wages -->
        <div class="col-md-4">
          <mat-form-field appearance="outline" dir="rtl">
            <mat-label>اجور عمل</mat-label>
            <input formControlName="workers" required matInput placeholder="اجور عمل" pattern="[0-9]+(\.[0-9]+)?">
            <mat-icon matSuffix>monetization_on</mat-icon>
          </mat-form-field>
          <div *ngIf="billForm.get('workers').hasError('pattern') && billForm.get('workers').touched" style="color: red;padding-bottom: 11px;">**يرجى إدخال أرقام فقط</div>

        </div>
      
        <!-- Tax -->
        <div class="col-md-4">
          <mat-form-field appearance="outline" dir="rtl">
            <mat-label>قيمة الضريبة</mat-label>
            <input formControlName="tax"  required matInput placeholder="قيمة الضريبة" pattern="[0-9]+(\.[0-9]+)?">
            <mat-icon matSuffix>money_off_csred</mat-icon>
          </mat-form-field>
          <div *ngIf="billForm.get('tax').hasError('pattern') && billForm.get('tax').touched" style="color: red;padding-bottom: 11px;">**يرجى إدخال أرقام فقط</div>

        </div>
      
        <!-- Empty column -->
        <div class="col-md-4"></div>
      
        <!-- Net Bill Amount -->
        <div class="col-md-8">
          <mat-form-field appearance="outline" dir="rtl">
            <mat-label>صافي سند القبض</mat-label>
            <input readonly="true" formControlName="tot_bill" matInput placeholder="صافي سند القبض">
            <mat-icon matSuffix>receipt_long</mat-icon>
          </mat-form-field>
        </div>
      </div>
      
      <!-- Button -->
      <div mat-dialog-actions class="action" dir="rtl">
        <button mat-raised-button color="primary" type="submit" [disabled]="!billForm.valid"   >
          <mat-icon matSuffix>save</mat-icon> حفظ
        </button>
        <button mat-raised-button color="primary" type="button" (click)="openDeleteDialog(bill.intro_id)">
          <mat-icon matSuffix>delete</mat-icon> حذف
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #billDeleteDialog dir="rtl">
    <h2>هل أنت متأكد من عملية الحذف لهذا المعرض </h2>
    <mat-dialog-actions align="end">
      <button class="btn btn-info" mat-button mat-dialog-close="no">لا</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger" mat-button mat-dialog-close="yes">نعم</button>
    </mat-dialog-actions>
  
  </ng-template>