table {
    width: 100%;
  }
  
  
  .family-font
  {
      font-family: 'Lateef', serif;
  }
  
  .font-size-date
  {
    font-size: 22px !important;
  }
  
  .font-size-date-sub
  {
    font-size: 18px !important;
    color: gray;
  }
  
   th
  {
    font-size: 16px !important;
    font-weight: 600 !important;
  }
  
  .demo-button-container {
    padding-bottom: 36px;
  }
  button{
  
    padding-bottom: 4px !important;
    padding-top: 4px !important;
  }
  
  
   
  
  span{
    color: rgb(108 18 183);
   font-family:Arial, Helvetica, sans-serif;
  }